@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/open-sans-regular.ttf") format("opentype");
}

@font-face {
  font-family: "Gotham Pro";
  src: url("assets/fonts/gotham-pro-regular.ttf") format("opentype");
}
