<div class="hotel-item-wrap">
  <div *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8]" class="hotel-item">
    <div class="hotel-item-main">
      <div class="hotel-item-picture-block">
        <img src="/assets/images/test-city.jpg" alt="Hotel item picture">
        <div class="number-rating">8,5/10</div>
        <div class="discount">-55%</div>
        <div class="hotel-item-info">
          <div class="star-rating-block">
            <span class="icon i-star"></span>
            <span class="icon i-star"></span>
            <span class="icon i-star"></span>
            <span class="icon i-unstar"></span>
            <span class="icon i-unstar"></span>
          </div>
          <div class="hotel-item-title">
            Be live collection canoa live collection canoa 4*
          </div>
          <div class="hotel-item-subtitle">
            Турция, Кемер, 3 линия
          </div>
        </div>
        <div class="hotel-item-recommendation">
          <span class="icon i-like"></span>
          Рекомендуем
        </div>
      </div>
      <div class="hotel-night-info">7 - 14 ночей</div>
      <div class="hotel-flight-info">Вылеты 26 фев - 04 мар из Алматы</div>
    </div>
    <div class="hotel-item-additional">
      <div class="left-additional">
        <div class="guest-choice">
          2 взр и 3 реб
          <span class="icon i-bottom-arrow"></span>
        </div>
        <div class="price-block">
          от 2 958 944 ₸
        </div>
      </div>
      <div class="right-additional">
        <div class="credit-price">
          458 944 ₸
        </div>
        <div class="credit-month">
          x 24 мес
        </div>
      </div>
    </div>
    <div class="hotel-item-bottom">
      Показать туры (55)
    </div>
  </div>
  <div class="footer">
    <div class="footer-item">
      <img src="/assets/icons/loupe.svg" alt="Search" />
      <div class="item-title">Поиск</div>
      <div class="item-subtitle">по отелю</div>
    </div>
    <div class="footer-item">
      <img src="/assets/icons/filter.svg" alt="Filter" />
      <div class="item-title">Фильтры</div>
      <div class="item-subtitle">не выбранно</div>
    </div>
    <div class="footer-item">
      <img src="/assets/icons/sort.svg" alt="Sort" />
      <div class="item-title">Сортировка</div>
      <div class="item-subtitle">сначала дешевле</div>
    </div>
  </div>
</div>
